model_config_list{
    config{
        name:"myserving"
        base_path: '/models/myserving'
        model_plateform: 'tensorflow'
        model_version_policy{
            specific{
                versions: 1
                versions: 2
            }
        }
        version_labels{
            key: 'stable'
            value: 1
        }
        version_labels{
            key: 'alpha'
            value: 2
        }
    }
    config{
        name: 'model2'
        base_path: '/models/model2'
        model_plateform: 'tensorflow'
    }
}


'''Description:

这里有两个 config，意味着我们同时上线两个模型。

对于第一个config：

+ name 为模型的名称；
+ base_path 为容器中模型的位置；
+ model_platform 就设置为tensorflow即可；
+ model_version_policy 不加的话就是默认最新的版本控制策略；
specific 指定上线的版本，all 加载全部模型，latest 加载最新的n个版本的模型;
model_version_policy{
    all: {}
}
model_version_policy{
    latest: { num_versions:5 }
}
+ version_labels 将版本号映射为对应的key，如stable对应版本号 “1” 的模型。

'''